{% extends 'layout/base_template.html' %}

{% block styles %}
    <title>Снимок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scan_styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Информация о снимке</h1>

        
        <div class="info-section">
            <div class="info-panel">
                <h3 class="info-title">Информация о задаче</h3>
                <div class="info-content" id="info1">
                    <p><strong>ID: </strong>{{ task['id'] }}</p>
                    <p><strong>Статус: </strong>{{ task['status'] }}</p>
                    <p><strong>Тяжесть: </strong>{{ task['severity'] }}</p>
                    <p><strong>Описание: </strong>{{ task['message'] }}</p>
                    <p><strong>Путь: </strong>{{ task['uri'] }}</p>
                    <p><strong>Строка: </strong>{{ task['line'] }}</p>

                </div>
                <a href="/dashboard" class="panel-button">Назад</a>
            </div>

        </div>
    </div>

        
<!--    &lt;!&ndash; Modal for image display &ndash;&gt;-->
<!--    <div id="imageModal" class="modal">-->
<!--        <span class="close" onclick="closeModal()">&times;</span>-->
<!--        <img class="modal-content" id="modalImage">-->
<!--    </div>-->
<!--    -->
<!--    <script>-->
<!--        // Function to open image in modal-->
<!--        function openImage(imageId) {-->
<!--            const modal = document.getElementById('imageModal');-->
<!--            const modalImg = document.getElementById('modalImage');-->
<!--            const img = document.getElementById(imageId);-->
<!--            -->
<!--            modal.style.display = "block";-->
<!--            modalImg.src = img.src;-->
<!--            // if (imageId == "image2") {-->
<!--            //     modalImg.style.filter = "invert()";-->
<!--            // }-->
<!--            -->
<!--            // Update information panel-->
<!--            updateInfoPanel(imageId);-->
<!--        }-->
<!--        -->
<!--        // Function to close modal-->
<!--        function closeModal() {-->
<!--            document.getElementById('imageModal').style.display = "none";-->
<!--        }-->
<!--        -->
<!--        // Close modal when clicking outside the image-->
<!--        window.onclick = function(event) {-->
<!--            const modal = document.getElementById('imageModal');-->
<!--            if (event.target == modal) {-->
<!--                closeModal();-->
<!--            }-->
<!--        }-->
<!--        -->
<!--        // Close modal with Escape key-->
<!--        document.addEventListener('keydown', function(event) {-->
<!--            if (event.key === 'Escape') {-->
<!--                closeModal();-->
<!--            }-->
<!--        });-->
<!--    </script>-->
{% endblock %}
